.grid { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  align-items: start;
  justify-items: center;
  cursor: pointer;
  }
.grid img {
  max-width: 100%;
}
.grid img:nth-child(1) {
  grid-column: span 3;
  grid-row: span 1;
  }